<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.slwh.emr.mapper.DrugMapper">
  <resultMap id="BaseResultMap" type="com.slwh.emr.model.Drug">
    <id column="dr_id" jdbcType="INTEGER" property="drId" />
    <result column="dr_num" jdbcType="VARCHAR" property="drNum" />
    <result column="dr_name" jdbcType="VARCHAR" property="drName" />
    <result column="dr_level" jdbcType="INTEGER" property="drLevel" />
    <result column="dr_price" jdbcType="VARCHAR" property="drPrice" />
    <result column="dr_account" jdbcType="VARCHAR" property="drAccount" />
    <result column="dr_date" jdbcType="DATE" property="drDate" />
    <result column="dr_status" jdbcType="INTEGER" property="drStatus" />
  </resultMap>
  <sql id="Base_Column_List">
    dr_id, dr_num, dr_name, dr_level, dr_price, dr_account, dr_date,dr_status
  </sql>
  <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from emr_drug
    where dr_id = #{drId,jdbcType=INTEGER}
  </select>

  <delete id="deleteById" parameterType="java.lang.Integer">
    delete from emr_drug
    where dr_id = #{drId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.slwh.emr.model.Drug">
    insert into emr_drug (dr_id, dr_num, dr_name, 
      dr_level, dr_price, dr_account, 
      dr_date)
    values (#{drId,jdbcType=INTEGER}, #{drNum,jdbcType=VARCHAR}, #{drName,jdbcType=VARCHAR}, 
      #{drLevel,jdbcType=INTEGER}, #{drPrice,jdbcType=VARCHAR}, #{drAccount,jdbcType=VARCHAR}, 
      #{drDate,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.slwh.emr.model.Drug">
    insert into emr_drug
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="drId != null">
        dr_id,
      </if>
      <if test="drNum != null">
        dr_num,
      </if>
      <if test="drName != null">
        dr_name,
      </if>
      <if test="drLevel != null">
        dr_level,
      </if>
      <if test="drPrice != null">
        dr_price,
      </if>
      <if test="drAccount != null">
        dr_account,
      </if>
      <if test="drDate != null">
        dr_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="drId != null">
        #{drId,jdbcType=INTEGER},
      </if>
      <if test="drNum != null">
        #{drNum,jdbcType=VARCHAR},
      </if>
      <if test="drName != null">
        #{drName,jdbcType=VARCHAR},
      </if>
      <if test="drLevel != null">
        #{drLevel,jdbcType=INTEGER},
      </if>
      <if test="drPrice != null">
        #{drPrice,jdbcType=VARCHAR},
      </if>
      <if test="drAccount != null">
        #{drAccount,jdbcType=VARCHAR},
      </if>
      <if test="drDate != null">
        #{drDate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByIdSelective" parameterType="com.slwh.emr.model.Drug">
    update emr_drug
    <set>
      <if test="drNum != null">
        dr_num = #{drNum,jdbcType=VARCHAR},
      </if>
      <if test="drName != null">
        dr_name = #{drName,jdbcType=VARCHAR},
      </if>
      <if test="drLevel != null">
        dr_level = #{drLevel,jdbcType=INTEGER},
      </if>
      <if test="drPrice != null">
        dr_price = #{drPrice,jdbcType=VARCHAR},
      </if>
      <if test="drAccount != null">
        dr_account = #{drAccount,jdbcType=VARCHAR},
      </if>
      <if test="drDate != null">
        dr_date = #{drDate,jdbcType=DATE},
      </if>
    </set>
    where dr_id = #{drId,jdbcType=INTEGER}
  </update>
  <update id="updateById" parameterType="com.slwh.emr.model.Drug">
    update emr_drug
    set dr_num = #{drNum,jdbcType=VARCHAR},
      dr_name = #{drName,jdbcType=VARCHAR},
      dr_level = #{drLevel,jdbcType=INTEGER},
      dr_price = #{drPrice,jdbcType=VARCHAR},
      dr_account = #{drAccount,jdbcType=VARCHAR},
      dr_date = #{drDate,jdbcType=DATE}
    where dr_id = #{drId,jdbcType=INTEGER}
  </update>
  <!--查询所有药品信息  -->
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from emr_drug
  </select>

  <!--根据病人查询药品信息  -->
  <select id="selectBypId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
  select
    emr_drug.dr_name
from
    emr_patient,
    emr_drug,
    emr_prescription
where
    emr_patient.p_id = emr_prescription.patient_id
and emr_drug.dr_id = emr_prescription.d_id
AND emr_patient.p_id=#{id,jdbcType=INTEGER}
  </select>
  <!--查询所有待审核药品信息  -->
  <select id="selectshenhe" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
from
    emr_prescription
where
   emr_prescription.status=0
  </select>

</mapper>