<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.slwh.emr.mapper.RoleMapper" >
  <resultMap id="BaseResultMap" type="com.slwh.emr.model.Role" >
    <id column="r_id" property="rId" jdbcType="INTEGER" />
    <result column="r_name" property="rName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    r_id, r_name
  </sql>
  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from emr_role
    where r_id = #{rId,jdbcType=INTEGER}
  </select>
  <delete id="deleteById" parameterType="java.lang.Integer" >
    delete from emr_role
    where r_id = #{rId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.slwh.emr.model.Role" >
    insert into emr_role (r_id, r_name)
    values (#{rId,jdbcType=INTEGER}, #{rName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.slwh.emr.model.Role" >
    insert into emr_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rId != null" >
        r_id,
      </if>
      <if test="rName != null" >
        r_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rId != null" >
        #{rId,jdbcType=INTEGER},
      </if>
      <if test="rName != null" >
        #{rName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByIdSelective" parameterType="com.slwh.emr.model.Role" >
    update emr_role
    <set >
      <if test="rName != null" >
        r_name = #{rName,jdbcType=VARCHAR},
      </if>
    </set>
    where r_id = #{rId,jdbcType=INTEGER}
  </update>
  <update id="updateById" parameterType="com.slwh.emr.model.Role" >
    update emr_role
    set r_name = #{rName,jdbcType=VARCHAR}
    where r_id = #{rId,jdbcType=INTEGER}
  </update>

  <!--查询所有角色信息  -->
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from emr_role
  </select>

  <!--根据user查询所有角色信息  -->
  <select id="getRolesByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
   emr_role.r_id, emr_role.r_name
    from emr_role,emr_role_user
    where emr_role.r_id=emr_role_user.r_id
    and emr_role_user.u_id=#{userid,jdbcType=INTEGER}
  </select>
</mapper>