<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.slwh.emr.mapper.Role_UserMapper" >
  <resultMap id="BaseResultMap" type="com.slwh.emr.model.Role_UserKey" >
    <id column="r_id" property="rId" jdbcType="INTEGER" />
    <id column="u_id" property="uId" jdbcType="INTEGER" />
    <association property="role" select="getRole" column="r_id"/>
    <association property="user" select="getUser" column="u_id"/>
  </resultMap>
  <resultMap id="role" type="com.slwh.emr.model.Role" >
    <id column="r_id" property="rId" jdbcType="INTEGER" />
    <result column="r_name" property="rName" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="user" type="com.slwh.emr.model.User" >
    <id column="u_id" property="uId" jdbcType="INTEGER" />
    <result column="u_name" property="uName" jdbcType="VARCHAR" />
    <result column="u_password" property="uPassword" jdbcType="VARCHAR" />
    <result column="u_age" property="uAge" jdbcType="INTEGER" />
    <result column="u_sex" property="uSex" jdbcType="VARCHAR" />
    <result column="u_tel" property="uTel" jdbcType="BIGINT" />
    <result column="u_email" property="uEmail" jdbcType="VARCHAR" />
    <result column="u_num" property="uNum" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteById" parameterType="com.slwh.emr.model.Role_UserKey" >
    delete from emr_role_user
    where r_id = #{rId,jdbcType=INTEGER}
      and u_id = #{uId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.slwh.emr.model.Role_UserKey" >
    insert into emr_role_user (r_id, u_id)
    values (#{rId,jdbcType=INTEGER}, #{uId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.slwh.emr.model.Role_UserKey" >
    insert into emr_role_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rId != null" >
        r_id,
      </if>
      <if test="uId != null" >
        u_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rId != null" >
        #{rId,jdbcType=INTEGER},
      </if>
      <if test="uId != null" >
        #{uId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="getRoleByUserId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    r_id
    from emr_role_user
    where u_id = #{getuId,jdbcType=INTEGER}
  </select>
  <!--获取用户 -->
  <select id="getUser" resultMap="user">
    select
   u_id, u_name, u_password, u_age, u_sex, u_tel, u_email, u_num, status
    from emr_user
    where u_id=#{uId,jdbcType=INTEGER}
  </select>
  <!--获取角色 -->
  <select id="getRole" resultMap="role">
    select
   r_id, r_name
    from emr_role
    where r_id=#{rId,jdbcType=INTEGER}
  </select>
  <!--查询所有信息  -->
  <select id="selectAll" resultMap="BaseResultMap">
    select
    r_id,u_id
    from emr_role_user
  </select>
</mapper>